.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cardBackground);
}

header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
}

header h3{
    padding-left: 10px;
    padding-top: 15px;
    font-weight: 500;
}

section{
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

section ul li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section ul li:last-child{
    margin-top: 30px;
}

section ul li span{
    padding-left: 10px;
    font-weight: 500;
}

section ul li p{
    padding-right: 10px;
}

.inpComment{
    margin-right: 10px;
    width: 60%;
    padding-left: 5px;
    border-bottom: 1px solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.mat-mdc-radio-button:last-child {
  margin-right: 10px;
}

footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.btnCancel{
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--cardBackground);
    border: 1px solid var(--borderColor);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: var(--borderColor);
}

.btnSave{
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--thirdColor);
    color: var(--fontColor);
    border: 0;
}

.btnSave:hover{
    cursor: pointer;
}