<div class="container">
    <div class="menuTools">
        <div class="contTools">
            <button mat-icon-button title="Anterior">
                <mat-icon class="btnMenu">arrow_back</mat-icon>
            </button>
            <button mat-icon-button title="Próximo">
                <mat-icon class="btnMenu">arrow_forward</mat-icon>
            </button>
            <button mat-icon-button title="Adicionar">
                <mat-icon class="btnMenu">add</mat-icon>
            </button>
            <button mat-icon-button title="Deletar">
                <mat-icon class="btnMenu">delete</mat-icon>
            </button>
            <button mat-icon-button title="Procurar">
                <mat-icon class="btnMenu">search</mat-icon>
            </button>
        </div>
    </div>
    <div class="containerObject">]
        
    </div>
</div>
