.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
}

header h3{
    padding-left: 10px;
    padding-top: 15px;
    font-weight: 500;
}

section{
    width: 100%;
    height: 70%;
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

section ul{
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 15px;
}

section ul li{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section ul li input{
    border: 1px solid var(--borderColor);
    padding: 5px;
    width: 70%;
}

footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.btnCancel{
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--cardBackground);
    border: 1px solid var(--borderColor);
}

.btnCancel:hover{
    cursor: pointer;
    background-color: var(--borderColor);
}

.btnSave{
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--secondColor);
    color: var(--fontColor);
    border: 0;
}

.btnSave:hover{
    cursor: pointer;
}